.modules{
    top: 100px;
    height: 500px;
    padding: 30px;
    margin-top: 100px;
}

.blog-section {
    padding: 4rem 0;
}
.image_container{
    height: 325px;
    width: 325px;
    background-size: cover;
    transition: transform 0.5s ease;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.image_container:hover{
    transform: scale(1.1);
}

.modules_content{
    color: #282828;
    width: 340px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


.modules_content p{
    color: #282828;
    opacity: 55%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
    font-size: 15px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.5;
}

.blog-heading-align {
    margin-top: 15px;
}


/* 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box

} */

.container-thigdu {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box
}

@media (min-width:768px) {
    .container-thigdu {
        width: 750px
    }
}

@media (min-width:992px) {
    .container-thigdu {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container-thigdu {
        width: 1170px
    }
}



.col-xse-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.col-xse-12 {
    float: left
}

.col-xse-12 {
    width: 100%
}


 .col-mde-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}



@media (min-width:992px) {
    .col-mde-4 {
        float: left
    }
    
    .col-mde-4 {
        width: 33.33333333%
    }
    }


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default.focus, .btn-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}



/*# sourceMappingURL=bootstrap.min.css.map */