{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - ideaX</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'bootstrap/css/tailwind.min.css' %}" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>

<body class="min-h-screen bg-gray-100 text-gray-900 flex justify-center signup-background">
    <div class="max-w-screen-xs bg-white shadow sm:rounded-lg flex justify-center signup-messagebox login-box">

        <div class="mt-8 flex flex-col items-center">
            <h1 class="font-extrabold" style="font-size: 23px;">
                Login
            </h1>
            <div class="w-full flex-1 mt-8">
                
                <form action="login" method="POST">
                    {% csrf_token %}
                    <div class="mx-auto max-w-xs">
                        <input
                            class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
                            type="text" name="user_name" placeholder="username" />
                        <input
                            class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
                            type="password" name="user_password_1" placeholder="Password" />
                                               <button type="submit"
                            class="mt-5 signup-btn tracking-wide font-semibold w-full py-5 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                            <span class="ml-3">
                                Login
                            </span>
                        </button>
                        <p class="mt-6 text-xs text-gray-600 text-center">
                            
                        <h3>{{  message  }}</h3>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- script -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
    <script src="{% static 'js/animation.min.js' %}"></script>
</body>


</html>